.chat-messages {
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: unset;
}

.chat-messages::-webkit-scrollbar {
	display: none;
}

.chat-messages__list {
	display: flex;
	flex-direction: column-reverse;
	min-height: 100%;
	box-sizing: border-box;
}

.message {
	display: flex;
	min-width: 100%;
	padding-bottom: 2rem;
	align-items: flex-start;
	will-change: transform;
}

.message__avatar {
	display: flex;
	width: 5.5rem;
	height: 5.5rem;
}

.message__text {
	box-sizing: border-box;
	padding: 1.3rem 2rem;
	font-size: 1.6rem;
	display: flex;
	color: #282828;
	align-items: center;
	background: #f9c35b;
	border-radius: 2.5rem;
	margin-left: 2rem;
	line-height: 3rem;
}
.message__text_white {
	background-color: #f1f0f0;
}
.message__text > p {
	margin: 0;
	word-wrap: break-word;
}

.animation-slide-left {
	animation: SlideLeft 0.3s;
	animation-fill-mode: both;
}

.animation-d0_2 {
	animation-delay: 0.2s !important;
}

.animation-d0_4 {
	animation-delay: 0.4s !important;
}

.animation-d0_3 {
	animation-delay: 0.3s !important;
}

@keyframes SlideLeft {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.message__dot {
	display: inline-block;
	font-size: 5rem;
	line-height: 0;
	font-family: 'Times New Roman', Times, serif;
	will-change: transform;
}

.animation-wave {
	animation: Wave 0.5s ease-in infinite alternate both;
}

@keyframes Wave {
	0% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: translateY(0.5rem);
	}
}

@media (max-width: 575.98px) {
	.chat-messages {
		padding: 0 1rem;
	}

	.message__text {
		margin-left: 1rem;
	}
}
