.chat-messages {
	flex: 1;
	overflow: scroll;
}

.chat-messages__list {
	display: flex;
	flex-direction: column-reverse;
	min-height: 100%;
	box-sizing: border-box;
}

.message {
	display: flex;
	padding-bottom: 2rem;
	align-items: flex-start;
}

.message__avatar {
	display: flex;
}

.message__text {
	min-width: 200px;
	box-sizing: border-box;
	padding: 1.3rem 2rem;
	font-size: 1.6rem;
	display: flex;
	color: #282828;
	align-items: center;
	background: #f9c35b;
	border-radius: 35px;
	margin-left: 2rem;
	line-height: 3rem;
}
.message__text_white {
	background-color: #f1f0f0;
}
.message__text > p {
	margin: 0;
	word-wrap: break-word;
}
