.chat-input {
	background-color: white;
	border-radius: 32px;
	padding: 1rem 1.5rem 1rem 2.5rem;
	display: flex;
	justify-content: space-between;
}

.chat-input__message {
	flex: 1 1 auto;
	outline: none;
	appearance: none;
	border: none;
	color: black;
	font-size: 1.5rem;
	font-style: normal;
}

.chat-input__send {
	min-width: 2.5rem;
	height: 2.2rem;
	padding: 0;
	appearance: none;
	border: none;
	outline: none;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	mask: url('../../img/seng.svg');
	mask-size: cover;
	background: #929292;
	transform-origin: center center;
	transition: transform 0.3s;
}

.chat-input__send_active {
	background: #f9c35b;
}

.chat-input__send:active {
	transform: scale(0.9);
}

@media (max-width: 575.98px) {
	.chat-input {
		border-radius: 0;
	}
}
